node_modules
.turbo
dist
.next
.env
.env.local
.env.production
.env.development
*.log
next-env.d.ts

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
android
ios
# But allow native mobile projects
!apps/mobile/ios/
!apps/mobile/android/
